
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
}

html,
body {
	height: 100%;
}

body {
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
	display: flex;
}

.cover-container {
	max-width: 45em;
}

.row {
	align-items: center;
}

.mb-auto
{
	padding-top:2rem;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.form-signin {
	width: 100%;
	padding-left: 135px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-floating label {
	color: #000;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
}

.px-5 {
    padding-right: 5rem!important;
    padding-left: 5rem!important;
}